<div id="wrapper">
        <app-sidebar></app-sidebar>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
              <app-topbar></app-topbar>


<div class="container">
        <div>
        <h1>Detalle Cotizacion</h1>
            <form >
                <div class="form-group row">

                    <label for="">SERVICIO: </label>
                    <br>
                    <div class="col-md-3">
                        <select name="servicio" [(ngModel)]="servicio">
                            <option  *ngFor="let servicio of servicios"  [value]="servicio.servicio_id">{{ servicio.nombre }}</option>
                        </select>
                    </div>

                </div>
                

                <div class="form-group row">

                    <div class="form-group">
                            <label for="">MARCA</label>
                            <input [(ngModel)]="servicioMecanicoDet.marca"  name="marca" type="text" class="form-control">
                    </div>
                    
                    <div class="form-group">
                                <label  for="" style="margin-left: 15px;">MODELO</label>
                                <input [(ngModel)]="servicioMecanicoDet.modelo" style="margin-left: 15px;" name="modelo" type="text" class="form-control">
                    </div>

               

                    <div class="form-group">
                        <label for="" style="margin-left: 30px;">PLACA</label>
                        <input [(ngModel)]="servicioMecanicoDet.placa" style="margin-left: 30px;" name="placa" type="text" class="form-control">
                    </div>
                    
                    <div class="form-group">
                        <label for="" style="margin-left: 45px;">CONTENIDO</label>
                        <input [(ngModel)]="servicioMecanicoDet.contenido" style="margin-left: 45px;" name="contenido" type="text" class="form-control">
                    </div>

                </div>

                <button  class="btn btn-success" (click)="SaveServicioMecanicoDet()">Grabar Detalle</button>
                <button class="btn btn-primary" (click)="AddServicioMecanicoDet(servicio)" style="margin-left: 15px;">Agregar Vehiculo</button>
                <button class="btn btn-danger" (click)="showModalDelete()" style="margin-left: 15px;">Cancelar</button>
            </form>
        
        </div>
        <br>

        <div>
            <table  class="table table-bordered table-hower" >
                <thead>
                    <tr>
                        <th>Servicio</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Placa</th>
                        <th>Contenido</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>							
                    <tr *ngFor="let servicioMecanicoDet of servicioMecanicoDets" class="text-center">
                        <td>{{servicioMecanicoDet.servicio.nombre}}</td>
                        <td>{{servicioMecanicoDet.marca}}</td>
                        <td>{{servicioMecanicoDet.modelo}}</td>
                        <td>{{servicioMecanicoDet.placa}}</td>
                        <td>{{servicioMecanicoDet.contenido}}</td>
                        <td><a class="btn btn-danger" (click)="RemoveServicioMecanicoDet(servicioMecanicoDet)">Eliminar</a> </td>
                    </tr>	
                </tbody>
            </table>
        </div>
    </div>
    

    
</div> 
<app-footer></app-footer>
</div>
</div>
<a class="scroll-to-top rounded" href="#page-top">
<i class="fas fa-angle-up"></i>
</a>
<app-logout-modal></app-logout-modal>