<div id="wrapper">
        <app-sidebar></app-sidebar>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
              <app-topbar></app-topbar>


<div class="container">
        <br>
                <br>
                <h2>Reporte De Cotizaciones</h2>
                <br>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Servicio</th>
                            <th>Fecha</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Placa</th>
                            <th>Monto</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let servicioMecanicoDet of servicioMecanicoDets" class="text-center">
                            <td >{{servicioMecanicoDet.servicioMecanicoCab.cliente.nombre}}</td>
                            <td >{{servicioMecanicoDet.servicio.nombre}}</td>
                            <td >{{servicioMecanicoDet.servicioMecanicoCab.fecha}}</td>
                            <td >{{servicioMecanicoDet.marca}}</td>
                            <td >{{servicioMecanicoDet.modelo}}</td>
                            <td >{{servicioMecanicoDet.placa}}</td>
                            <td >{{servicioMecanicoDet.servicio.monto}}</td>
                            <td> 
                            <button class="btn btn-info" >Editar</button>
                            <button class="btn btn-danger" style="margin-left: 10px;">Eliminar</button>
                            </td>
                        </tr>	
                    </tbody>
                </table>
    </div>


    
</div> 
<app-footer></app-footer>
</div>
</div>
<a class="scroll-to-top rounded" href="#page-top">
<i class="fas fa-angle-up"></i>
</a>
<app-logout-modal></app-logout-modal>